@import '../../styles/contants.scss';

.wrapper{
    background: white;
    .container{
        gap: 2rem;
        @media (max-width: $sm) {
            flex-direction: column;
            gap: 2rem;
            align-items: flex-start;
        }
   
          
            ;

                a{
                    text-decoration: underline;
                    color: orange;
                }
          
     


      
    }
}